.blog-detail-content {
    width: 100%;

    &__make {
        color: #707070;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 20px;
        span {
            color: #333;
            text-transform: uppercase;
        }
    }

    &__banner {
        margin-bottom: 20px;
        img {
            width: 100%;
        }
    }

    &__wrapper {
        width: 650px;
        margin: 0 auto;

        &__description {
            p {
                font-size: 1.6rem;
                color: #333;
                line-height: 2.2rem;
                margin-bottom: 12px;
            }
        }

        &__banner-bottom {
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }

        &__top-trends {
            &__title {
                font-size: 2.4rem;
                color: #333;
                font-weight: 400;
                margin-bottom: 12px;
            }

            &__note {
                font-size: 1.6rem;
                color: #333;
                line-height: 2.2rem;
                margin-bottom: 12px;
            }

            &__list {
                margin-left: 30px;
                margin-bottom: 80px;
                &__item {
                    font-size: 1.6rem;
                    color: #333;
                    line-height: 2.2rem;
                    margin-bottom: 12px;
                    list-style: disc;
                }
            }

            &__socail {
                @include flex(space-between, center);
                padding-bottom: 20px;
                border-bottom: 1px solid #ccc;
                margin-bottom: 40px;
                &__content {
                    @include flex(unset, center);
                    &__title {
                        font-size: 1.6rem;
                        color: #333;
                        font-weight: 400;
                    }

                    &__line {
                        width: 60px;
                        position: relative;
                        margin: 0 6px;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 1px;
                            width: 100%;
                            background: #000;
                        }
                    }

                    &__text {
                        font-size: 1.2rem;
                        color: #707070;
                        font-weight: 300;

                        svg {
                            --size: 18px;
                            width: var(--size);
                            height: var(--size);
                            margin: 0 6px;

                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &__reply {
            &__title {
                font-size: 2.4rem;
                color: #333;
                font-weight: 400;
                margin-bottom: 6px;
            }

            &__note {
                font-size: 1.2rem;
                color: #707070;
                font-weight: 400;
                margin-bottom: 30px;
            }

            &__input {
                margin-bottom: 22px;
                input {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #ccc;
                    outline: none;

                    padding: 8px 0;
                    font-size: 1.2rem;
                    color: #333;
                    font-weight: 300;
                }
            }

            &__accept {
                --size: 18px;
                @include flex(flex-start, center);

                margin-bottom: 30px;
                input {
                    width: var(--size);
                    height: var(--size);
                    margin-right: 6px;
                }

                label {
                    font-size: 1.2rem;
                    color: #707070;
                    font-weight: 300;

                    cursor: pointer;
                }
            }

            &__button {
                margin-bottom: 30px;
                button {
                    background: #333;
                    padding: 8px 24px;
                    color: #fff;
                    font-size: 1.4rem;

                    font-weight: 500;
                    border-radius: 3px;
                    outline: none;
                    border: none;
                    width: 200px;
                    text-align: center;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }

        &__comments {
            padding-bottom: 30px;
            padding-top: 30px;
            border-bottom: 1px solid #ccc;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border: none;
            }

            ul {
                margin-left: 60px;

                li {
                    margin: 25px;
                    margin-left: 12px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.blog-detail-content.slide-bar {
    width: 70%;
    margin-left: 18px;
    box-sizing: margin;
}
