.check-out-order {
    width: 40%;
    &__title {
        font-size: 1.8rem;
        color: #333;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &__wrapper {
        padding: 35px;
        background: #efefef;

        &__heading {
            @include flex(space-between, center);

            padding-bottom: 12px;
            margin-top: 12px;
            border-bottom: 1px solid #ccc;
            span {
                font-size: 1.4rem;
                color: #333;
                text-transform: uppercase;
                font-weight: 500;
            }
        }

        &__heading.check-out-order__wrapper__heading-bd-none {
            border: none;
        }

        &__heading.check-out-order__wrapper__heading--mt-none {
            margin-top: 0;
        }

        &__heading-txt {
            font-size: 1.4rem;
            color: #707070 !important;
            text-transform: unset !important;
            font-weight: 400 !important;
        }

        &__product-txt {
            width: 100%;
            flex-direction: column;

            li {
                padding-bottom: 12px;
                @include flex(space-between, center);
                &:last-child {
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 12px;
                }

                &:first-child {
                    padding-top: 12px;
                }

                span {
                    font-size: 1.3rem;
                    color: #707070;
                    font-weight: 400;
                }
            }
        }

        &__payment {
            margin-top: 30px;
            &__check-radio {
                @include flex(flex-start, center);
                margin-bottom: 16px;
                input {
                    --size: 16px;
                    width: var(--size);
                    height: var(--size);
                    margin-right: 6px;
                }

                label {
                    font-size: 1.2rem;
                    color: #333;
                    font-weight: 500;
                    cursor: pointer;
                }
            }

            &__description {
                font-size: 1.2rem;
                color: #707070;
                text-transform: unset;
                font-weight: 400;
                margin-bottom: 16px;
            }
        }
    }
}
