.contact {
    width: 50%;
    padding-left: 50px;
    &__title {
        font-size: 1.6rem;
        color: #333;
        font-weight: 400;
        margin-bottom: 12px;
    }

    &__note {
        font-size: 1.2rem;
        color: #555;
        font-weight: 400;
        margin-bottom: 30px;
    }

    &__input {
        &__name {
            font-size: 1.2rem;
            color: #555;
            font-weight: 400;
            margin-bottom: 6px;
        }

        &__input {
            width: 100%;
            display: block;
            margin-bottom: 12px;

            input {
                width: 100%;
                border: none;
                outline: none;
                border-bottom: 1px solid #ccc;
                padding: 12px 0;

                font-size: 1.2rem;
                color: #333;
            }
        }
    }

    &__accept {
        @include flex(flex-start, center);
        margin-bottom: 50px;
        input {
            --size: 18px;
            width: var(--size);
            height: var(--size);

            margin-right: 12px;
        }

        label {
            font-size: 1.2rem;
            color: #555;
            font-weight: 400;

            cursor: pointer;
        }
    }

    &__star {
        @include flex(center, flex-start);
        flex-direction: column;
        margin-bottom: 18px;
        &__title {
            font-size: 1.2rem;
            color: #555;
            font-weight: 400;
            margin-bottom: 12px;
        }

        &__wrapper {
            @include flex(flex-start, center);

            &__icon {
                margin: 0 4px;

                &:first-child {
                    margin-left: 0;
                }

                svg {
                    --size: 20px;
                    width: var(--size);
                    height: var(--size);

                    cursor: pointer;
                }
            }
        }
    }

    &__submit {
        button {
            background: #333;
            padding: 8px 24px;
            color: #fff;
            font-size: 1.4rem;

            font-weight: 500;
            border-radius: 3px;
            outline: none;
            border: none;

            cursor: pointer;
        }
    }
}
