.footer {
    border-top: 1px solid #ccc;
    padding: 30px 0;
    @include flex(space-between, center);

    &__left {
        width: 50%;
        &__menu {
            @include flex(flex-start, center);
            &__li {
                padding: 0 18px;
                color: #333;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 300;
                margin-bottom: 25px;
            }
            &__li:first-child {
                padding-left: 0;
            }
        }

        &__copy-right {
            font-size: 12px;
            color: #333;
            font-weight: 300;
        }
    }

    &__right {
        width: 50%;
        @include flex(center, flex-end);
        flex-direction: column;
        &__send-email {
            width: 60%;
            @include flex(flex-start, center);
            border-bottom: 1px solid #333;
            margin-bottom: 25px;
            input {
                width: 60%;
                outline: none;
                border: none;
                flex-grow: 1;
                padding: 8px 12px;
                padding-left: 0;
            }
            svg {
                font-size: 22px;
                color: #333;
            }
        }

        &__social {
            @include flex(flex-end, center);

            &__icon {
                svg {
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.6);
                    margin: 0 12px;
                    cursor: pointer;
                }
                svg:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
