.gird-2 {
    width: 50%;
    flex-grow: 50%;
}

.gird-3 {
    width: 31.333%;
    flex-grow: 31.333%;
}

.gird-4 {
    width: 23%;
    flex-grow: 23%;
}

.gird-5 {
    width: 18%;
    flex-grow: 18%;
}
.gird {
    box-sizing: border-box;
}
