.shipping-bag-item {
    width: 100%;
    padding: 0 25px;
    @include flex(unset, unset);

    &__img {
        width: 136px;
        border-radius: 5px;
        overflow: hidden;
        img {
            width: 136px;
        }
    }

    &__content {
        widows: 60%;
        margin-left: 12px;

        &__title {
            font-size: 1.4rem;
            color: #333;
            font-weight: 500;
            margin-bottom: 8px;
        }

        &__type {
            font-size: 1.2rem;
            color: #707070;
            font-weight: 500;
            margin-bottom: 8px;
        }

        &__price {
            font-size: 1.2rem;
            color: $primary-color;
            font-weight: 500;
            margin-bottom: 8px;
        }
    }

    &__close {
        margin-left: auto;
        svg {
            width: 22px;
            height: 22px;
            cursor: pointer;
        }
    }
}
