@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: $txt-color;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    @include mobile {
        max-width: 550px;
    }

    @include tablet {
        max-width: 992px;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

.title {
    font-size: 2.8rem;
    color: #333;
    font-weight: bold;
    display: block;
    text-align: center;
}

.hidden {
    overflow: hidden;
}
