.not-found {
    min-height: 60vh;
    @include flex(center, center);

    &__wrapper {
        width: 250px;
        margin: 0 auto;

        &__note {
            color: #707070;
            font-size: 1.4rem;

            font-weight: 400;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__button {
            @include flex(center, center);

            button {
                font-size: 1.4rem;
                color: #333;
                border: 1px solid #333;
                border-radius: 3px;
                outline: none;

                background: #fff;
                padding: 8px 12px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}
