.privacy {
    margin-top: 100px;
    margin-bottom: 100px;
    &__wrapper {
        width: 650px;
        margin: 0 auto;

        &__note {
            color: #333;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2rem;
            margin-top: 12px;
        }

        &__title {
            font-size: 2rem;
            color: #333;
            font-weight: 500;
            margin-top: 18px;
        }

        &__list {
            margin-left: 30px;

            li {
                list-style: disc;
                margin: 6px 0;

                color: #333;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }
    }
}
